* {
  box-sizing: border-box;
  margin: 0px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 8px;
  background-color: #232323;
}

#left {
  flex: none;
  display: flex;
  flex-direction: column;
}

#canvas {
  width: 512px;
  height: 512px;
  flex: none;
}

#msg {
  width: 512px;
  height: 100%;
  flex: auto;
  color: #E2E2E2;
  padding: 4px;
  background-color: #141414;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  overflow-y: scroll;
}

#msg::-webkit-scrollbar {
  display:none;
}

#right {
  width: 100%;
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  height: 25px;
  flex: none;
}

.button, .list {
  vertical-align: top;
  width: 100px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  border: solid 2px #323232;
  color: #E2E2E2;
  background-color: #232323;
  cursor: pointer;
}

#cursor_position {
  color: #E2E2E2;
  padding: 4px;
  font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  float: right;
}

#text {
  width: 100%;
  flex: auto;
}